.job-post--image{
  width: 40vw;
  height: 100vh;
}
.container--page{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 242, 242);
}


/* ------------//////////////////////////////////////mediaquery started from here //////////////////////////////////////////////----------- */
@media only screen and (max-width: 767px) {
  .container--page{
    padding: 0;
    display: block;
    width: 100vw;
  }
  .job-post--image{
    display: none;
    
  }
}