.navbar__logo {
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.navbar {
    background-image: url('../../assets/Rectangle1.png');
    height: 4.5rem;
    border-radius: 0 0 2.3rem 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar button {
    height: 2.5rem;
    /* padding: 15px; */
    width: 6.3rem;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    letter-spacing: 2px;
}

.navbar button {
    transition: all 0.4s;
}

.navbar button:hover {
    box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.2);
    border-color: #ED5353;
    transform: scale(1.1);
}

.skillGroup {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0.5rem 0px;
    width: 75%;
    margin: 0.5rem 0px;
}

.skillChip {

    height: 2rem;
    background-color: #f9c5c5;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 5px 5px 0;
    margin-right: 1rem;
    text-align: center;
}

.skillChip>p {
    padding: 0px 1rem;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: sans-serif;
}

.skillChip>button {
    height: 1.9rem;
    width: 2.5rem;
    color: white;
    background: #ED5353;
    box-sizing: border-box;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.select {
    cursor: pointer;
    border-radius: 6px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 2px;
    height: 1.1rem;
    font-family: sans-serif;
    color: #7b7b7b;
    border: 2px solid #c2c2c2;
    background-color: #FFFFFF;
}

.jobSearchDiv {
    box-shadow: 0px 0px 22px 4px #FF202040;
    width: 82vw;
    padding: 1rem 1.5rem;
    margin: auto;
    margin-top: 3rem;
    height: 9rem;
    border-radius: 5px;
    position: sticky;
    top: 0;
    opacity: 0.95;
    background-color: white;
    z-index: 100;
}

.searchInput {
    border: 2px solid #dbdbdb;
    color: #7b7b7b;
    font-size: 2rem;
    border-radius: 10px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.inputs {
    border: none;
    padding: 0.5rem 10px;
    background: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 100%;
    outline: none;
}

.jobSearchDivFooter {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 91%;
    margin: auto;
    margin-top: 2rem;
}

.skills {
    display: flex;
    width: 80%;
    height: 2.5rem;
    align-items: center;
    overflow: auto;
}

.filterBtn {
    height: 2.5rem;
    padding: 9px 12px;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #ED5353;
    transition: all 0.3s;
}

.viewDetailsBtn {
    height: 2.5rem;
    padding: 9px 12px;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #ED5353;
    transition: all 0.3s;
}

.viewDetailsBtn:hover {
    background-color: #f41c1c;
}

.filterBtn:hover {
    background-color: #f41c1c;
}

.filterBtn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgb(246, 189, 189);
}

.clear {
    color: #ED5353;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
}

.spanx {
    padding: 0px 6px;
    font-size: 25px;
}

.spanx:hover {
    background-color: #ff8282;
    border-radius: 50%;

}

.allJobs {
    margin: auto;
    width: 91%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container {
    justify-content: space-between;
    align-items: center;
    border-radius: 23px 9px 8px 23px;
    display: flex;
    width: 91%;
    height: 7rem;
    margin: auto;
    background-color: rgb(250, 240, 240);
    padding: 1.5rem 1.5rem;
    box-shadow: 0px 0px 22px 2px #FF202040;
    border-left: 5px solid #ED5353;
}

.skillDetail {
    display: flex;
}

.containerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 6rem;
}

.containerLeftHead {
    display: flex;
    gap: 2rem;
}

.containerDetailLeft {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.detailChip {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: gray;
    letter-spacing: 1px;
}

.jobTitle {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.jobsallary {
    display: flex;
    align-items: center;
}

.joblocation {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}

.spnlocation {
    margin-left: 5.5rem;
    color: #ED5353;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ------------//////////////////////////////////////mediaquery started from here //////////////////////////////////////////////----------- */
@media only screen and (max-width: 767px) {

    .joblocation {
        margin-left: 0;

    }

    .navbar button {
        width: 4.5rem;
        height: 2.1rem;
        font-size: 15px;
        padding: 0;
    }

    .jobTitle {
        position: absolute;
        top: 1.3rem;
        left: 7rem;
    }

    .detailChip {
        margin-top: .5rem;
        font-size: 1rem;
        justify-content: space-between;
        gap: 4px
    }

    .navbar__inner {
        gap: 1rem
    }

    .jobSearchDivFooter {
        display: block;
        width: 100%;
        position: relative;
    }

    .jobSearchDiv {
        height: 10rem;
    }

    .skillGroup {
        display: block;
        width: 100%;
    }

    .skills {
        width: 100%;
    }

    .select {
        height: 2.3rem;
    }

    .filterBtn {
        position: absolute;
        font-size: 14px;
        right: 5rem;
        bottom: 2.6rem;
        padding: 3px;
        height: 2.3rem;
    }

    .clear {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    .container {
        height: max-content;
        display: inline;
    }

    .containerLeftHead {
        display: inline;
        position: relative;
    }

    .containerLeft {
        gap: 1rem;
    }

    .spnlocation {
        margin-left: 0px;
    }
    .containerRight{
        margin-top: 1rem;
        width: 91%;
        align-items: center;
    }
    .skillDetail{
        width: 100%;
        overflow: auto;
    }
    .viewDetailsBtn{
        width: 15rem;
    }
    .container{
        margin: 0;
        width:90%;
        border-radius: 65px 9px 8px 65px;
    }
    .allJobs{
        margin-top: 3rem;
    }
}