body {
   /* background-color: rgb(219, 208, 208); */

    min-height: 100vh;

}

.forms {
    display: flex;
    flex-direction: column;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 58vw;
    padding: 10px;
    margin-top: 3rem;
}

.innerformLogin {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
    position: relative;
}

.innerformLogin {

    padding: 4rem;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, .05),
        25px 30px 30px rgba(0, 0, 0, .05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    border-radius: 140px 317px 60px 204px;
    transition: 0.3s all;

}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}


.formField {
    width: 30rem;
    margin: 20px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: sans-serif;
    border-radius: 7px;
}


input {
    background: #f2f2f2;
}

.head {
    font-family: sans-serif;
}

.heroImage {
    width: 40vw;
    height: 100vh;

}

.containerLogin {
    display: flex;
    justify-content: space-between;
    background-color: #dfdfdf;
}

.btnHome {
    position: absolute;
    bottom: 1.5rem;
    right: 4rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(87deg, #f9c5c5 0%, #ff0000 100%);
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 22px 39px 0px 37px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btnHome:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(141deg, #f5d0b5 0%, #f24115 100%);
    color: #291302;
    border: solid 2px #ffffff;
}








/* code for button -------------------------------------------- start*/
.button82pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 2rem;
}

.button82shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button82edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.button82front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 67px;
    }
}

.button82pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button82pushable:hover .button82front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button82pushable:active .button82front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button82pushable:hover .button82shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button82pushable:active .button82shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button82pushable:focus:not(:focus-visible) {
    outline: none;
}

/* code for button ------------------------------------------------ end */


.dontHave{
    margin-top: 1rem;
}


/* ------------//////////////////////////////////////mediaquery started from here //////////////////////////////////////////////----------- */
@media only screen and (max-width: 767px) {
    .head {
        font-size: 23px;
    }

    .containerLogin {
        height: 100vh;
        width: 100vw;
    }

    .formContainer {
        width: 76vw;
        margin: auto;
    }

    .innerformLogin {
        width: 78%;
        margin-left: 0;
    }

    .formField {
        width: 15rem;
    }

    .btnHome {
        bottom: 1rem;
        right: 2rem;
    }
    .heroImage{
        display: none;
    }
    .dontHave{
        margin-top: 0.5rem;
        font-size: 14px;
       }
}